*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class*="__container"] {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 150%;
}
.heading {
  font-size: 65px;
  line-height: 100%;
}
.bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #161026;
}
.gradient-red {
  background: linear-gradient(90deg, #e62243 0%, #c1267d 100%) !important;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #D6245E;
}
.header__logo {
  display: block;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
}
.hero {
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #161026;
}
.hero__container {
  text-align: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
}
.hero__text {
  font-size: 20px;
}
.categories__container {
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  font-size: 25px;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.categories__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to left, #ff9933, #ffff00);
  z-index: -1;
  transform: scale(1.05);
}
.categories__item:after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/sun1.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.categories__item:nth-child(2):before {
  background: linear-gradient(to right, #95c11f, #008d36);
}
.categories__item:nth-child(2):after {
  background-image: url(../img/sun2.png);
  top: auto;
  bottom: 0;
}
.categories__item:nth-child(3):before {
  background: linear-gradient(to right, #009fe3, #005a91);
}
.categories__item:nth-child(3):after {
  background-image: url(../img/sun3.png);
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.details {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #161026;
  background-image: url(../img/bg2.png);
}
.details__container {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  text-align: center;
}
.details__heading {
  line-height: 150%;
}
.details a {
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  color: inherit;
  font-size: 35px;
  text-transform: lowercase;
  padding: 25px;
  background: linear-gradient(90deg, #e62243 0%, #c1267d 100%) !important;
  transition: all 0.25s linear;
  border-radius: 15px;
}
.details a:hover {
  transform: translateY(2px);
}
.news {
  position: relative;
}
.news__container {
  padding-top: 75px;
  padding-bottom: 75px;
}
.news__heading {
  text-align: center;
  margin-bottom: 35px;
}
.news__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__item {
  width: 100%;
  max-width: 70%;
  position: relative;
}
.news__item:not(:last-child) {
  margin-bottom: 50px;
}
.news__item:nth-child(even) .news__content {
  flex-direction: row-reverse;
}
.news__item:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #D6245E;
}
.news__title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #D6245E;
}
.news__title a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s linear;
}
.news__title a:hover {
  opacity: 0.75;
}
.news__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.news__image {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.1);
}
.news__image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}
/*# sourceMappingURL=styles.css.map */