@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

@red: #D6245E;
@dark: #161026;
@gray: #EDEDED;

@mobile: 1200px;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="__container"] {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.27;
  font-weight: 500;
  background-color: #171026;
}

.heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.27;
  background: linear-gradient(270deg, #E62243 28.76%, #C1267D 128.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;

  &_gap {
    padding-left: 51px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 1175px;
    height: 84px;
    background-size: contain;
    background-image: url(../img/header-after-lines.svg);
    transform: rotate(180deg) translateX(98%);
    background-repeat: no-repeat;
    top: 8px;
    left: 0;
  }
}

.nav {
  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    color: #fff;
    gap: 10px;
    justify-content: flex-end;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper__bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background-color: #000;
  z-index: 10;
  background: url(../img/wrapper-overlay.png) top -340px center no-repeat;
  //background-size: 150%;
  pointer-events: none;
  @media (max-width: @mobile) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: linear-gradient(270deg, #E62243 28.66%, #C1267D 128.66%);
  opacity: 0.5;
  border-radius: 16px;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  border: 1px solid #FFFFFF;
  opacity: 1;
}

.header {

  &__container {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  &__logo {
    padding-left: 53px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1242px;
      height: 84px;
      top: -25px;
      left: 305px;
      background-image: url(../img/header-after-lines.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
}

.hero {
  position: relative;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-color: #E62243;
  }

  .swiper {
    position: relative;

    .swiper-slide {
      img {
        display: block;
        width: 100%;
        max-width: 1200px;
        height: 600px;
        object-fit: cover;
      }
    }

    @media (max-width: @mobile) {
      .swiper-slide {
        img {
          height: auto;
        }
      }

      .swiper-pagination {
        bottom: auto;
        top: 10px;
      }
    }


    .description {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 584px;
      z-index: 2;
      text-align: right;

      a {
        color: @red;
      }

      &__heading {
        display: inline-block;
        background: linear-gradient(270deg, #E62243 28.76%, #C1267D 128.76%);
        color: #fff;
        margin: 0;
        padding: 7px 37px;
        font-weight: 900;
        font-size: 70px;
        line-height: 1.27;
      }

      &__text {
        text-align: left;
        background-color: #fff;
        padding: 20px;
        color: #005E92;
        font-size: 12px;
        line-height: 1.5;
      }

      @media (max-width: @mobile) {
        position: static;
        &__heading {
          font-size: 30px;
        }

        &__text {
          padding: 20px;
        }
      }
    }
  }
}

.categories {

  &__container {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  &__holder {
  }

  &__heading {
    margin-bottom: 45px;
  }

  &__items {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    @media (max-width: @mobile) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    background: url(../img/robo1-bg.png) center center no-repeat;
    background-size: contain;

    &_1 {
      .categories__inner {
        .categories__title {

        }

        .categories__text {
          background: linear-gradient(270deg, #E62243 28.76%, #C1267D 128.76%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    &_2 {
      background: url(../img/robo2-bg.png) center center no-repeat;

      .categories__inner {
        .categories__title {

        }

        .categories__text {
          background: linear-gradient(270deg, #8DC63F 28.76%, #009444 128.76%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    &_3 {
      background: url(../img/robo3-bg.png) center center no-repeat;

      .categories__inner {
        .categories__title {

        }

        .categories__text {
          background: linear-gradient(270deg, #00AEEF 28.76%, #005E92 128.76%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }

  &__inner {
    width: 344px;
    height: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    line-height: 1.26;
  }

  &__title {
    font-weight: 600;
    color: #fff;
    margin-bottom: 3px;
    font-size: 30px;
  }

  &__text {
    font-weight: 900;
    font-size: 30px;
  }
}


.news {

  &__container {
  }

  &__title {
    color: #005E92;
    margin-bottom: 10px;

    a {
      color: #005E92;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__heading {
    padding-bottom: 5px;
  }

  &__body {
    background-color: #fff;

  }

  &__text {
    color: #005E92;
    padding: 30px;
    width: 100%;
    max-width: 548px;
    height: 276px;
    justify-self: center;
    overflow-x: hidden;
    overflow-y: auto;
    p {
      margin-bottom: 7px;
    }
    a {
      color: @red;
      text-decoration: underline;
    }
    @media (max-width: @mobile) {
      order: 2;
      padding: 0 0 30px 0;
      height: auto;
    }
  }

  &__text::-webkit-scrollbar {
    width: 6px;
  }

  &__text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &__text::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &__image {
    img {
      display: block;
      width: 100%;
      max-width: 590px;
      height: 276px;
      object-fit: cover;
      object-position: center center;
    }

    @media (max-width: @mobile) {
      img {
        height: auto;
      }
    }
  }

  .swiper {
  }

  .mySwiper2 {
    background-color: #fff;
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    @media (max-width: @mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  .swiper-pagination {
    text-align: left;
    left: 50%;
    transform: translateX(-35%);
    @media (max-width: @mobile) {
      left: 0;
      text-align: center;
      transform: translateX(0);
    }
  }
}

.about {

  &__container {
    padding-top: 111px;
    padding-bottom: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: @mobile) {
      flex-direction: column;
      gap: 170px
    }
  }

  &__item {
    &:nth-child(2) {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 286px;
        height: 286px;
        top: 0;
        left: -10px;
        transform: translateY(-40%);
        background: linear-gradient(270deg, #E62243 28.76%, #C1267D 128.76%);
        border-radius: 50%;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 88px;
        background: linear-gradient(270deg, #8DC63F 28.76%, #009444 128.76%);
        transform: scale(1.08) translateX(8px);
      }
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 70px;
    line-height: 1.27;
    color: #ffffff;
    background: linear-gradient(270deg, #fff 28.76%, #fff 128.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 48px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 255px;
      height: 1746px;
      background: url('../img/robotica-after-link.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-93.4%);
      top: 0;
      right: -326px;
      pointer-events: none;
    }

    span {
      position: relative;
      z-index: 5;
    }
  }

  @media (max-width: 550px) {
    &__container {
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 70px;
    }

    &__item {
      &:nth-child(2) {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 170px;
          height: 170px;
          top: 0;
          left: -2px;
          transform: translateY(-40%);
          background: linear-gradient(270deg, #E62243 28.76%, #C1267D 128.76%);
          border-radius: 50%;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          border-radius: 88px;
          background: linear-gradient(270deg, #8DC63F 28.76%, #009444 128.76%);
          transform: scale(1.08) translateX(8px);
        }
      }
    }

    &__heading {
      font-weight: 900;
      font-size: 35px;
      line-height: 1.27;
      color: #ffffff;
      background: linear-gradient(270deg, #fff 28.76%, #fff 128.76%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      position: relative;
    }

    &__link {
      text-decoration: none;
      color: #fff;
      font-weight: 900;
      font-size: 28px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 255px;
        height: 1746px;
        background: url('../img/robotica-after-link.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-93.4%);
        top: 0;
        right: -326px;
        pointer-events: none;
      }

      span {
        position: relative;
        z-index: 5;
      }
    }
  }
}

.footer {
  &__container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}